main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
main:hover .Box1 {
  width: 100px;
  height: 100px;
  transition: 3s;
  transform: rotate(1080deg);
  margin-left: 600px
}
.box {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
.Box1 {
  background-color: red;
}
main:hover .Box3 {
  width: 100px;
  height: 100px;
  transition: 3s;
  transform: rotate(1080deg);
  margin-left: 600px;

}
main:hover .Box5 {
  width: 100px;
  height: 100px;
  transition: 3s;
  transform: rotate(1080deg);
  margin-left: 600px;

}
main:hover .Box7 {
  width: 100px;
  height: 100px;
  transition: 3s;
  transform: rotate(1080deg);
  margin-left: 600px;

}
main:hover .Box9 {
  width: 100px;
  height: 100px;
  transition: 3s;
  transform: rotate(1080deg);
  margin-left: 600px;

}
main:hover .Box11 {
  width: 100px;
  height: 100px;
  transition: 3s;
  transform: rotate(1080deg);
  margin-left: 600px;
}
main:hover .Box2 {
  width: 25px;
  height: 25px;
  transition: 3s;
  transform: rotate(-1080deg);
  margin-right: 600px;
}
main:hover .Box4 {
  width: 25px;
  height: 25px;
  transition: 3s;
  transform: rotate(-1080deg);
  margin-right: 600px;
}
main:hover .Box6 {
  width: 25px;
  height: 25px;
  transition: 3s;
  transform: rotate(-1080deg);
  margin-right: 600px;
}
main:hover .Box8 {
  width: 25px;
  height: 25px;
  transition: 3s;
  transform: rotate(-1080deg);
  margin-right: 600px;
}
main:hover .Box10 {
  width: 25px;
  height: 25px;
  transition: 3s;
  transform: rotate(-1080deg);
  margin-right: 600px;
}
main:hover .Box12 {
  width: 25px;
  height: 25px;
  transition: 3s;
  transform: rotate(-1080deg);
  margin-right: 600px;
}
.Box2 {
  background-color: purple;
}.Box3 {
  background-color: blue;
}.Box4 {
  background-color: green;
}.Box5 {
  background-color: yellow;
}.Box6 {
  background-color: black;
}.Box7 {
  background-color: pink;
}.Box8 {
  background-color: violet;
}.Box9 {
  background-color: aqua;
}.Box10 {
  background-color: seagreen;
}.Box11 {
  background-color: gold;
}.Box12 {
  background-color: silver;
}