body {
  font-family: 'Roboto Mono', monospace;
}
header {
  color: aqua;
  background-color: black;
  height: 300px;
}
.head {
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
}
.links {
  border: solid 2px black;
}
.me {
  border: black solid 2px;
}
.articles {
  border: solid black 2px;
}
@media only screen and (max-width: 576px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
  

