.main-container {
    border: 1px solid purple;  
}
header {
    height:25px ;
    background-color: royalblue;
    text-align: center;
}
nav {
    height: 50px;
    background-color: gray;
    text-align: right;
}
section {
    border: 1px purple;
}