body {
  font-family: 'Roboto Mono', monospace;
}
main {
  background-image: url(LFH.jpg);
  height: 1000px;
  width: 85%;
}
header {
  color: blue;
}
.head {
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
}
.links {
  border: solid 2px black;
}
.me {
  border: black solid 2px;
}
.articles {
  border: solid black 2px;

}
.nav {
  display: flex;
  flex-direction: row;
  text-align: center;
}
a {
  margin: 20px;
}
h1 {
  animation: change-text 800ms ease infinite;
}
@media only screen and (max-width: 576px) {
  .nav {
    display: none;
  }
}
@keyframes change-text {

 0%   {background-color: lightblue;}
 25%  {background-color: skyblue;}
 50%  {background-color: royalblue;}
 100% { background-color: blue;}

}