.container {
    border: 1px solid red;
}
.container {
    border: 1px solid blue;
    list-style: none;
    margin: 0;
    height: 500px;
    width: 80%;
    padding: 0;
    background-image: url("./Lord.jpg");
    align-content: center;
}
.sidebar {
    text-align: right;
}
.Bottom {
    background-color: darkgray;
    border: solid 50px darkgray;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .section {
        width: 0px;
=======
.links {
    display: none;
}
@media only screen and (max-width: 576px) {
    .useful-links {
        text-align: left;

    }
    .social {
        text-align: right;
    }
    .links {
        width: 100%;
        height: 300px; 
        background-color: gray; 
        display: block !important;      
    }
}
@media only screen and (max-width: 850px) {
    .sidebar {
        display: none;
    }
    .container {
        width: 100%;
    }
}

   


